.wrapper {
  margin-top: 69px;
  max-width: 100%;
}

.lists {
  padding: 0;
}

.lists li{
  list-style: none;
  margin-top: .5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 26px;
}

.item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 1600px;
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #00000073;
}

.item .item_col {
  border-radius: 20px;
  /* box-shadow: 2px 2px 2px #00000040; */
}

.item .item_col a {
  color: #19589d;
}

.item_col:nth-of-type(1) {
  grid-column: 1;
}

.item_col:nth-of-type(2) {
  grid-column: 2/-1;
  background-color: #a6afb333;
}

.item:nth-of-type(2) .item_col:nth-of-type(1) {
  grid-column: 3/4;
}

.item:nth-of-type(2) .item_col:nth-of-type(2) {
  grid-column: 1/3;
  grid-row: 1/3
}

.item:nth-of-type(4) .item_col:nth-of-type(1) {
  grid-column: 3/4;
}

.item:nth-of-type(4) .item_col:nth-of-type(2) {
  grid-column: 1/3;
  grid-row: 1/3
}

.item:nth-of-type(3) .item_col:nth-of-type(2) {
  align-self: center;
}

@media (max-width: 768px) {
  .item_col h1 {
    font-size: 30px;
    text-align: center;
  }

  .lists {
    margin: 0;
    text-align: center;
  }

  .lists li {
    font-size: 18px;
  }
  .item {
     grid-template-columns: 1fr;
     width: 100%;
  }

  .item_col:nth-of-type(1) {
    grid-column: 1;
  }
  
  .item_col:nth-of-type(2) {
    grid-column: 1;
    /* background-color: #a6afb333; */
  }
  
  .item:nth-of-type(2) .item_col:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1/3;
  }
  
  .item:nth-of-type(2) .item_col:nth-of-type(2) {
    /* grid-column: 1; */
    grid-row: 3
  }
  
  .item:nth-of-type(4) .item_col:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1/3;
  }
  
  .item:nth-of-type(4) .item_col:nth-of-type(2) {
    /* grid-column: 1; */
    grid-row: 3
  }
} 

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin: 0 0 0.7rem 0;
}

.hero {
  margin: 69px 0 0 0;
  background-color: black;
  text-align: center;
}

.hero .p1 {
  padding: 1rem;
  z-index: 2;
  position: relative;
}

.hero h1 span {
  color: #42bbdf;
}

.hero h1,
.hero p {
  color: #fff;
}

.bgImg {
  background: url(/uploads/ss.png) 50% / cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 43%;
  top: 0;
  opacity: 0.2;
  z-index: 1;
}

.hero img {
  border-radius: 50%;
}

.heroWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'img content';
}

.hero .heroWrapper img {
  border: 2px solid #1178b3 !important;
  box-shadow: 7px 5px 5px #1178b338;
}

.details {
  margin-left: 2rem;
}

.heroWrapper .details h2 {
  margin-bottom: 1rem;
}

.details h4,
.details h1 {
  margin: 0;
}

.details h4 {
  margin: 0 0.5rem 0 0;
}

.hero ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.hero ul li a {
  color: #fafafa;
}

.hero ul li a:hover {
  color: #42bbdf;
  transition: 0.6s;
}

.hero ul li:nth-child(2) {
  padding: 0 1rem;
}

.row ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

#stacks,
#tools,
#portfolio {
  padding: 1rem 0;
}

#stacks h1,
#tools h1,
#portfolio h1,
#contact h1 {
  margin: 0;
  text-align: center;
}

#stacks {
  background-color: #fff;
  position: relative;
  z-index: 3;
  border-bottom: 2px solid black;
}

.dGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dGrid .py {
  padding: 1rem !important;
}

.stackBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1178b3;
  font-size: 20px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: bold;
  height: 100%;
  transition: 0.6s;
}

.dNone {
  display: none !important;
}

.dBlock {
  display: block !important;
}

.row .exp p {
  margin: 0 0 1rem 0;
}

.border {
  border-bottom: 2px solid #0000002e;
}

#portfolio,
#contact {
  margin-top: 5rem;
}

.border figure {
  margin: 0;
  background: #fff;
  overflow: hidden;
}

.portfolioImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.border figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.portfolioImg .border {
  border: 2px solid #1178b3;
  box-shadow: 7px 5px 5px #1178b338;
  margin: 15px;
}

.portfolioImg .border img {
  object-fit: cover;
}

.portfolioImg h4 {
  text-align: center;
  margin: 0;
  padding: 1rem;
  color: #fff;
  background-color: #1178b3;
}

.portfolioImg a {
  color: black;
}

#tools {
  background-color: #eaf4fd;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

#contact div:nth-child(1) {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .heroWrapper {
    display: block;
  }

  .portfolioImg {
    grid-template-columns: 100%;
  }

  .details h1,
  #portfolio h1 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .portfolioImg .border {
    margin: 0 0 1rem;
  }

  .bgImg {
    height: 70%;
  }
}

@media (min-width: 1280px) {
  .dGrid {
    padding: 0 5rem;
  }
}
